
.Card {
  background: transparent;
  perspective: 1000px;
  flex-basis: 20%;
  align-self: center;
  justify-self: center;
}

.Card:nth-child(4n+1) {
  margin-right: 0;
}

.Card:hover .Card-inner {
  transform: rotateY(180deg);
}

.Card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.Card .content {
  transform: rotateY(180deg);
}

.Card .cover,
.Card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}